<html>
    <head>
        <title>First GonJi Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
    <div style="text-align: center;">
        <h1 class="text-box">{{ place }}</h1>
        <img src="{{ url_for('static', filename='images/Sydney.jpg') }}" alt="Sydney Image", width="1200" class="my-image">
    </div>
    <h1 class="text-box">Background and Importance</h1>
    <p1 class="special">Sydney's background is rooted in its founding as a British penal colony in 1788 on the shores of Port Jackson, and its importance 
        today lies in its status as Australia's largest and a leading global city. It is Australia's financial hub, a major center for international tourism, 
        and a hub for culture and entertainment, boasting iconic landmarks like the Opera House and Harbour Bridge.<br>
        <br>Indigenous History: Before European arrival, the land was inhabited for tens of thousands of years by the Gadigal people of the Eora Nation, 
        whose cultural traditions are a deep part of Sydney's identity.<br>
        <br>British Settlement: The modern history of Sydney began in 1788 when the First Fleet, a group of British convicts, established a penal colony at Sydney Cove.<br>
        Colonial Growth: The settlement quickly grew into a bustling port city due to its strategic location along Pacific trade routes, driven by agriculture and trade.<br> 
        <br>19th and 20th Century: Sydney continued to expand through waves of immigration and developed into a major center for commerce and government, 
        surpassing Melbourne as the financial center in the 1970s. <br>
    </p1>
    </body>
</html>